.content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Ensures content is centered vertically */
    align-items: center; /* Centers content horizontally */
}

.about-bg1 {
    width: 100%;
    max-width: 1920px;
    height: auto;
    display:block;
}

.about-overlay-text {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Shadow for better readability */
    font-weight: bold;
}

.about-image-container {
    position: relative;
    width: 100%;
    max-width: 1920px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    /* overflow: hidden; Hide overflow for rounded corners */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.about-page {
    display: flex;
    flex-direction: column;
    padding-top: 60px; /* Space for the top nav */
    padding-bottom: 80px; /* Space for the bottom nav */
    justify-content: center; /* Ensures content is centered vertically */
    align-items: center; /* Centers content horizontally */
    text-align: center;
}

.about-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.about-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #555;
}

.features-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    padding: 20px; /* Add some padding */
    background-color: #f9f9f9; /* Light background for the form */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 0 auto; /* Center the form */
    gap: 15px; /* Space between elements */
}

a {
    text-decoration: none;
    color: #809ec0; /* Bootstrap primary color */
}

a:hover {
    color: #6c7d99; /* Darker shade on hover */
}

.features-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    padding: 20px; /* Add some padding */
    background-color: #f9f9f9; /* Light background for the form */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 0 auto; /* Center the form */
    gap: 15px; /* Space between elements */
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    padding: 20px; /* Add some padding */
    background-color: #f9f9f9; /* Light background for the form */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 0 auto; /* Center the form */
}